html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI Emoji', 'Noto Color Emoji', 'Apple Color Emoji', 'Android Emoji', 'EmojiSymbols', sans-serif;
}
* {
  box-sizing: border-box;
}
